/* variables colores */
:root {
  --primary: #4452fe;
  --first-text: #000;
  --gray: #5c5c5c;
  --dark-bg: #181818;
  --white: #fff;
  --light-text: #fff;
}

/* fuentes
--font: 'Poppins', sans-serif;
--light: 400;
--medium: 500;
--bold: 700; */

a {
  color: #fff;
}
