/* variables colores
 --primary: #4452fe;
--first-text: #000; 
--gray: #5c5c5c;
--dark-bg: #181818;
--white: #fff;
--light-text: #fff;*/

/* fuentes
--font: 'Poppins', sans-serif;
--light: 400;
--medium: 500;
--bold: 700; */

a {
    color: #fff;
}


/* seccion 1 Hero */

.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 4rem;
    padding: 4rem 0;
}

.img-screen-desk{
    max-width: 90%;
}

.section-one-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    max-width: 350px;
}

.text-predicciones{
    font-weight: 400;
    font-size: 2.1rem;
}

.btn-probar-ahora{
    background-color: #4452fe;
    color: #fff;
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
}