.footer{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 20px;
    padding: 48px 0;
    margin: 0 auto;
}

.redes-nav{
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

