.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 350px;
    margin: 0 auto;
    padding: 4.8rem 0;
}

.section-two-texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-potencia{
    font-weight: 400;
    font-size: 2.5rem;
    color: aliceblue;
}

.product-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.img-product{
    width: 100%;
}

.product-cards-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.product-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}